@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Karla:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.4rem;
}

.container {
    width: 550px;
    height: 729px;
    border: 1px solid black;
}

.header {
    width: 550px;
    height: 285px;
    background: #6943FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.header h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    padding: 30px;
}

.header input {
    width: 117px;
    height: 83px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #B295FF;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 24px;
    text-align: center;
}

.header button {
    width: 117px;
    height: 42px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.main {
    width: 550px;
    height: 440px;
    background: #F4F4F4;
    padding: 30px;
}

.up {
    width: 500px;
    height: 108.57px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.up h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #5A537B;
    padding: 25px;
}

.up p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #353535;
}

.middle {
    width: 500px;
    height: 108.57px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.middle h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #5A537B;
    padding: 25px;
}

.middle p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #353535;
}

.down {
    width: 500px;
    height: 108.57px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.down h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #5A537B;
    padding: 25px;
}

.down p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #353535;
}